@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
ul {	
	list-style-type: none;
	margin: 5px;
	padding: 0px 5px 0px 5px;
	overflow: hidden;
}
li {
	display: inline;
	float: left;
}
a {
	display: block;
	padding: 12px;
}

.footer {
	position: absolute;
	width: 100%;
	height: 100px;
	text-align: center;
}
.header {
	text-align: center;
}
@font-face {
	font-family: "CaviarDreams";
	src: url('CaviarDreams.ttf');
}
h1 {
	font-family: "CaviarDreams";
}
a:link {

}
a:visited {
	color: #00395B;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}

